<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Search users..."
          (keyup)="search(txtSearch.value)"
          #txtSearch
        >
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="alert alert-info text-center">
          <h4 class="alert-heading">Loading..</h4>
          <i class="fa fa-spin fa-refresh fa-2x"></i>
          <p class="mb-0">Wait, Please</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total users ({{from}}-{{totalUsers}})</h4>
        <h6 class="card-subtitle">Registration users in App</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th class="w100">Avatar</th>
              <th>Email</th>
              <th>Name</th>
              <th class="w140">Role</th>
              <th class="w100">Auth</th>
              <th class="text-nowrap w100">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
              <td class="text-center">
                <img class="avatar cursor-pointer" [src]="user.getImage()" alt="Avatar" (click)="openModal(user)">
              </td>
              <td>{{user.email}}</td>
              <td>{{user.name}}</td>
              <td>
                <select class="form-control" [(ngModel)]="user.role" (change)="changeRole(user)">
                  <option value="ADMIN_ROLE">ADMIN</option>
                  <option value="USER_ROLE">USER</option>
                </select>
              </td>
              <td class="text-center">
                <span *ngIf="user.google" class="label label-danger">Google</span>
                <span *ngIf="!user.google" class="label label-info">Email</span>
              </td>

              <td class="text-nowrap text-center">
                <a data-toggle="tooltip" data-original-title="Edit" class="cursor-pointer"> <i
                  class="fa fa-pencil text-inverse m-r-10"></i> </a>
                <a (click)="deleteUser(user)" data-toggle="tooltip" data-original-title="Delete" class="cursor-pointer">
                  <i
                    class="fa fa-close text-danger"></i>
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="txtSearch.value.length === 0" class="d-flex">
          <button class="btn btn-secondary w-50 mr-3" (click)="changePage(-5)">Previous</button>
          <button class="btn btn-secondary w-50" (click)="changePage(+5)">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
